.pulse {
  animation: pulsate infinite 1.5s;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
}

.weapon-select:hover{
    animation: pulsate infinite 1.5s;
    animation-fill-mode: forwards;
}

@keyframes pulsate {
  0% {
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }

  50% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
}

@keyframes pulse-dot {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(.8);
    }
    100% {
      transform: scale(1);
    }
  }
  

.fade-in-result {
  animation: 1s fadeIn-results;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
  visibility: hidden;
}

@keyframes fadeIn-results {
    0% {
      opacity: 0;
    }
    100% {
      visibility: visible;
      opacity: 1;
    }
  }
  

.player-animation{
    animation: $result-slide-time playerPieceTransform;
    animation-fill-mode: forwards;
}

.cpu-animation{
    animation: $result-slide-time cpuPieceTransform;
    animation-fill-mode: forwards;
 
}


@keyframes playerPieceTransform {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes cpuPieceTransform {
  0% {
    transform: translateX(-50%);
 
  }
  100% {
    transform: translateX(0%);
    
  }
}

@keyframes pulse-ring {
  0% {
    transform: scale(0.33);
  }
  80%,
  100% {
    opacity: 0;
  }
}

