@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 600;
    line-height: 1.4375; //16px size with a 23px line height
    //1em = 16 px  1rem = 10px  .625em = 1rem  we want .67em
    font-size: $default-font-size;
}

a{

    text-decoration: none;
}

li{
    list-style-position: inside;
    list-style-type: none;
}
