.container{
    display: grid;

    padding: 5rem 0;

    grid-template-columns:
    [full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end]
    minmax(6rem, 1fr) [full-end];
    

    @media only screen and (min-width:375px){


        grid-template-columns:
        [full-start] minmax(6rem, 1fr)
        [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
        [center-end]
        minmax(6rem, 1fr) [full-end];
  

  }


}

