.container{
    display: grid;

    padding: 5rem 0;

    grid-template-columns:
    [full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end]
    minmax(6rem, 1fr) [full-end];
    
    grid-template-rows: max-content max-content max-content ;

    @media only screen and (max-width:$mobile-width){


        grid-template-columns:
        [full-start] minmax(2rem, 1fr)
        [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
        [center-end]
        minmax(2rem, 1fr) [full-end];
  
        grid-template-rows: max-content max-content 20rem ;
  }


}

