.rules-btn{
    grid-column:full-start/full-end;
    grid-row: 1000;
    justify-self: end;
    align-self: end;
    border: solid 2px $default-text-color;
    border-radius: $std-border-radius;
    color: $default-text-color;
    width: 20rem;
    transform: translateX(-70%);
     z-index: 6;

    @media only screen and (max-width:$mobile-width){
        grid-column:center-start/center-end;
        justify-self: center;
        align-self: center;
        transform: translateX(0%);
    }

}