.outer-circle {
  position: relative;
  //   margin: 5rem;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  background: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  cursor: pointer;

  @media only screen and (max-width: $mobile-width) {
    width: 8rem;
    height: 8rem;
  }

  &--large {
    width: 30rem;
    height: 30rem;
    cursor: default;

    @media only screen and (max-width: $mobile-width) {
      width: 10rem;
      height: 10rem;
    }
  }

  &__cpu-only {
    background: hsl(237, 49%, 15%);
  }

  &__SCISSORS {
    background-image: url("../../assets/img/icon-scissors.svg");
  }

  &__PAPER {
    background-image: url("../../assets/img/icon-paper.svg");
  }

  &__SPOCK {
    background-image: url("../../assets/img/icon-spock.svg");
  }
  &__LIZARD {
    background-image: url("../../assets/img/icon-lizard.svg");
  }
  &__ROCK {
    background-image: url("../../assets/img/icon-rock.svg");
  }
}

.inner-circle {
  //start from center of the circle
  //start off as square - go -2 rem out
  content: "";
  position: absolute;
  top: -2rem;
  bottom: -2rem;
  right: -2rem;
  left: -2rem;
  z-index: -1;
  border-radius: inherit;

  &--large {
    top: -3rem;
    bottom: -3rem;
    right: -3rem;
    left: -3rem;
  }

  &__SCISSORS {
    background-image: $scissors-color;
  }
  &__PAPER {
    background-image: $paper-color;
  }

  &__SPOCK {
    background-image: $spock-color;
  }
  &__LIZARD {
    background-image: $lizard-color;
  }
  &__ROCK {
    background-image: $rock-color;
  }
}

//   .game-piece{

//     background-color: white;
//     padding: 5rem;
//     width: 20rem;
//     height: 20rem;
//     border-radius: 50%;

//     &__img{
//         background-color: white;

//         width: 5rem;
//         height: 5rem;
//         display: block;
//         margin: 2rem auto;

//         // margin: 2rem;

//     }

//     &--rock{
//        border: solid 21px red;
//     }

//     // &--rock{
//     //     // border: solid 10rem red;

//     // }

// }
