.header{
    grid-column: center-start/center-end;
    border: solid 5px $header-outline-color;
    border-radius: $std-border-radius;
    padding: 2rem 3rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);

    @media only screen and (max-width:$mobile-width){
        padding: 1rem 2rem;
        border: solid 2px $header-outline-color;
        
    }

    &__logo{
        align-self: center;
        justify-self: start;

        @media only screen and (max-width:$mobile-width){
            height: 10rem;
            
        }
    }


    &__score-card{
        grid-column: -1;
        justify-self: end;
        background-color: white;
        display: grid;
      
        border-radius:1rem;
        width: 15rem;
        padding: 1rem 0;

        @media only screen and (max-width:$mobile-width){
            width: 10rem;
        }

       &__title{
        color: $score-text-color;
        text-align: center;
       }

       &__score{
        color: $dark-text-color;
        text-align: center;
        font-weight:700;
        font-size: 7rem;
        line-height: 0;

        @media only screen and (max-width:$mobile-width){
            font-size: 5rem;
        }
       }
    }
}