.rules-modal{

    position:fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;
    background-color: rgba(0,0,0,.4);
    overflow: auto;

    display:grid;
    grid-template-columns:
    [full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end]
    minmax(6rem, 1fr) [full-end];

    &__display{

        grid-column: center-start/center-end;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: minmax(min-content,max-content) max-content max-content;
        row-gap: 3rem;
        background-color: white;
        height: 45%;
        width: 50%;
        align-self: center;
        justify-self: center;
        border-radius: $std-border-radius;
        padding: 2rem;

        @media only screen and (max-width:$mobile-width){
            grid-column: full-start/full-end;
            grid-template-rows:  repeat(4,1fr);
            row-gap: 0rem;
            height:100vh;
            width: 100vw;
        }


        &__header{
            color: $dark-text-color;
            grid-row:1;
            grid-column: 1;
            
            

            @media only screen and (max-width:$mobile-width){
                align-self: center;
                justify-self: center;
                grid-column: 1/-1;
            }
        }

        &__para{
            color: $dark-text-color;
            grid-row:3;
            grid-column: 1/-1;
            align-self: center;
            justify-self: center;

            @media only screen and (max-width:$mobile-width){
                grid-row:3;
            }

        }




        &__rules-img{
            grid-row:2;
            grid-column: 1/-1;
            align-content: center;
            justify-self: center;
            height: 40rem;
            width: 40rem;
         

            @media only screen and (max-width:$mobile-width){
                grid-row:2;
                height: 40rem;
                width: 40rem;

            }
        }

        &__close-btn{
            grid-row:1;
            grid-column: 3;
            cursor: pointer;
            height: 3rem;
            width: 3rem;
           
            align-self: center;
            justify-self: end;

            @media only screen and (max-width:$mobile-width){
                grid-row:4;
                grid-column: 1/-1;
                justify-self: center;
            }
        }

    
        
    }

}